*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: white;
}
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.logo-youtube{
 display: flex;
 justify-content: flex-start;
 align-items: center;
 height: 150px;
}

.youtube1{
  width: 150px;
  height: 150px;
  position: relative;
  left: 40px;
}
.menu-pesquisar{
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.holder{
  border-radius: 40px 0 0 40px;
  width: 500px;
  height: 50px;
  padding-left: 30px;
}

.divlupa{
display: flex;
border: 1px solid black;
border-radius:  0 40px 40px 0;
width: 60px;
height: 50px;
}
.lupa{
  display: flex;
  width: 40px;
  height: 40px;
  
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}
.microphone{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px 40px 40px 40px;
  width: 50px;
  height:50px;
  margin-left: 10px;
}

.img-micro{
  width: 30px;
  height: 30px;
}

.sino{
  display: flex;
  justify-content: end;
  position: relative;
  left: 480px;
  gap: 1rem;
}

.sino1{
  display: flex;
  justify-content: end;
  width: 60px;
}
.foto{
  display: flex;
  position: relative;
  top: 10px;
  width: 40px;
  border: 1px solid black;
  border-radius: 40px 40px 40px 40px;
}
.main{
  
  width: 66%;
  height: 100%;
  padding: 50px;
}
video{
  width: 1200px;
}
.canal{
  display: flex;
  flex-direction: row;
}
.canal-logo{
  border: 1px solid black;
  width: 40px;
  border-radius: 40px 40px 40px 40px;
 
}
.subt{
  padding: 7px;
}
.qt-inscritos{
  color: rgb(126, 123, 123);
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  right: 170px;
  top: 8px;
}
.increva-se{
  width: 120px;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
  background-color: black;
  color: white;
  position: relative;
  right: 70px;
  top: 10px;

}

.gostei{
  display: flex;
  position: relative;
  top: 15px;
  left: 160px;
  gap: 15px;
}
.pra-cima{
  cursor: pointer;
  display: flex;
  width: 130px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
  
}
.img-polegar-cima{
  width: 25px;
  position: relative;
  left: 15px;
}
.contador{
  display: flex;
  align-items: center;
  position: relative;
  left: 20px;
}

.img-polegar-baixo{
  display: flex;
  width: 25px;
  position: relative;
  left: 30px;
}
.compartilhar{
  display: flex;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
  width: 120px;
  height: 30px;

}
.img-compartilhar{
  width: 30px;
}
.span-compartilhar{
  display: flex;
  position: relative;
  align-items: center;
}
.down{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
}
.valeu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
  padding: 2px;
}
.pontinhos{
  width: 40px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
}
.ponto{
  font-size: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -19px;
}
.descricao{
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 63vw;
  height: 100%;
  padding: 50px;
  position: relative;
  top: -30px;
  left: 45px;
}
.visualizacao{
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: -40px;
  right: 30px;
  padding-top: 20px;
}
.coment{
  display: inline-block;
  flex-direction: row;
  position: relative;
  left: 48px;
  
}

#img-ord{
  position: relative;
  left: 200px;
  top: -30px;
  width: 30px;
}
.p-ord{
  position: relative;
  left: 240px;
  top: -60px;
  font-size: 20px;
}



